<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>scunner.</title>

    <!-- <link rel="icon" href="/images/hazard.png" /> -->

    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <link rel="stylesheet" type="text/css" href="/styles/header.css">
    <link rel="stylesheet" type="text/css" href="/styles/items_control_bar.css">
    <link rel="stylesheet" type="text/css" href="/styles/items_container.css">
    <link rel="stylesheet" type="text/css" href="/styles/items_container_contents.css">
    <link rel="stylesheet" type="text/css" href="/styles/total_value.css">
    <link rel="stylesheet" type="text/css" href="/styles/nav_menu.css">
    <link rel="stylesheet" type="text/css" href="/styles/select_user.css">
    <link rel="stylesheet" type="text/css" href="/styles/update_user.css">
    <link rel="stylesheet" type="text/css" href="/styles/new_transaction.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
  </head>

  <!-- 'Holy Grail' 3-column flexbox layout based on the model described here: 
    https://philipwalton.github.io/solved-by-flexbox/demos/holy-grail/ -->
  <body class="HolyGrail">
    <header>
        <img class="header-image" src="/images/scunner_logo_expanded.png" alt="scunner logo">
    </header>

    <div class="HolyGrail-body">
        <main class="HolyGrail-content">
            <%= yield %>
        </main>
        <nav class="HolyGrail-nav">
            <div class="nav-container">
                <!-- Nav items require Person ID - don't show if no Person selected -->
                <%= erb :'nav_partials/user_not_present' unless @person %>
                <%= erb :'nav_partials/user_present' if @person %>
            </div>
        </nav>
        <aside class="HolyGrail-ads" />
    </div>
    <footer><p class="footer-text">© 2017-2017, ScunnerCorp Inc. or its affiliates</p></footer>
</html>