<div class="nav-button"><a href="/">Change user</a></div>
<div class="nav-button"><a href="/person/<%= @person.id %>/update">Update user</a></div>
<div class="nav-button"><a href="/person/<%= @person.id %>/delete">Delete user</a></div>
<div class="nav-button"><a href="/person/<%= @person.id %>/transactions">View transactions</a></div>