<li><a href="/">Change user</a></li>
<li><a href="/person/<%= @person.id %>/update">Update current user</a></li>
<li><a href="/person/<%= @person.id %>/delete">Delete current user</a></li>
<li><a href="/person/<%= @person.id %>/transactions">View transactions</a></li>