.filler-left,
.filler-right {
	margin: auto;
	flex: 1;
}

.filler-right {
	font-size: 0.5em;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.btn-edit,
.btn-delete {
	margin: 0px 0px 6px 0px;
}

.btn-edit {
	background-color: #58A4B0;
	width: 30%;
}

.btn-delete {
	background-color: #58A4B0;
	width: 30%;
}

.merchant_name,
.value,
.tag {	
	margin: 0px 0px 6px 0px;
}

.merchant_name {
	flex: 2;
	background-color: #a9bcd0;
	vertical-align: middle;
	text-align: right;
	min-width: 140px;
	padding: 0 10px 0  0;
}

.value {
	flex: 1;
	background-color: #b3cadd;
	text-align: center;
	min-width: 110px;
}

.tag {
	flex: 2;
	background-color: #a9bcd0;
	min-width: 150px;
	padding: 0 0 0 10px;
}