<form action="/person/<%= "#{@person.id}" %>/transactions" method="POST">
  <label for="merchant-name">Merchant:</label>
  <input type="text" name="merchant_name" id="merchant-name" required>
  <label for="value">Value:</label>
  <input type="text" name="value" id="value" required>
  <select name="tag_id" id="tag-select">
    <% for tag in @tags %>
      <option value="<%= tag.id %>"><%= "#{tag.name}" %></option>
    <% end %>
  </select>
  <input type="submit" value="OK">
</form>