<form action="/person/<%= "#{@person.id}" %>/transactions" method="POST">
  <label for="merchant-name">Merchant:</label>
  <input type="text" name="merchant_name" id="merchant-name" required>
  <label for="value">Value:</label>
  <input type="number" name="value" id="value" placeholder="123.45" min="0.01" step="0.01" required>
  <select name="tag_id" id="tag-select">
    <% for tag in @tags %>
      <option value="<%= tag.id %>"><%= "#{tag.name}" %></option>
    <% end %>
  </select>
  <label for="timestamp">Date/Time:</label>
  <input id="timestamp" name="timestamp" type="datetime-local">
  <input type="submit" value="OK">
</form>